<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #exerciseForm="ngForm">
      <div class="form-group">
        <label for="name">Exercise name</label>
        <input type="text" [(ngModel)]="exercise.name" name="name" class="form-control" id="name" exercise="name" placeholder="Enter your exercise name"
          required #name="ngModel" [ngModelOptions]="{standalone: true}">
      </div>
    <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
   <div class="form-group">
        <label for="muscle">Muscle</label>
        <input type="text" [(ngModel)]="exercise.muscle" name="muscle" class="form-control" id="muscle" exercise="muscle" placeholder="Enter your muscle"
          required #muscle="ngModel"  [ngModelOptions]="{standalone: true}">
          </div>
      <div [hidden]="!muscle.pristine" class="alert alert-danger">Muscle is required</div>

      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="exercise.description" name="description" class="form-control" id="description" exercise="description" placeholder="Enter your description"
          required #description="ngModel"  [ngModelOptions]="{standalone: true}">  </div>
        <div [hidden]="!description.pristine" class="alert alert-danger">Description is required</div>

      <button type="submit" [disabled]="!exerciseForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
